:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #eee;

  background: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 32px;
}

main {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 16px 32px;
  font-size: 16px;
  max-width: fit-content;
  border: 2px solid #eee;
  border-radius: 4px;
  background: transparent;
  color: #eee;
  cursor: pointer;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}

button:hover {
  background: #eee;
  color: #222;
}

img {
  max-width: 250px;
  height: auto;
}
