.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  border: 3px solid rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
  background-color: black;
}

.modal-content h2 {
  font-size: 48px;
  line-height: 40px;
}

.modal-content span {
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
  border: 3px solid rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  background-color: rgba(50, 255, 50, 0.25);
}
.modal-content svg {
  width: 70%;
  height: auto;
}
