:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;
  color: rgba(255, 255, 255, 0.85);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100dvh;
}

:is(h1, h2, h3) {
  text-align: center;
}

h1 {
  font-size: 48px;
}

.board {
  padding-block: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.turn {
  padding-block: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.reset {
  padding-block: 16px;
  display: flex;
  justify-content: center;
}

button {
  border: 3px solid rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 16px 32px;
}

button:hover {
  background-color: #444;
}
